<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battery Health Assessment & Dynamic Allocation System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>Battery Health Assessment & Dynamic Allocation System</h1>
</header>

<nav>
    <a href="/">🏠 Home</a>
    <a href="/dataset">📂 Dataset</a>
    <a href="/vehicle_search">🚗 Vehicle Search</a>
    <a href="#">🔋 Recommendation</a>
    <a href="/dashboard">📊 Dashboard</a>
    <a href="/graphs">📈 Graphs</a>
    <a href="#">📄 Reports</a>
</nav>

<div class="container">

    <h2>Welcome</h2>

    <p>
        An AI-powered web application for battery health assessment and
        intelligent battery allocation for electric vehicle fleets.
    </p>

    <hr>

    <h3>👨‍💻 Our Project Team</h3>

<table border="1" cellpadding="10" cellspacing="0" width="100%">

    <tr>
        <th>🌟 Team Name</th>
        <td><b>Dream Chasers</b></td>
    </tr>

    <tr>
        <th>Member 1</th>
        <td>Medapati Bindu Sri Matha</td>
    </tr>

    <tr>
        <th>Member 2</th>
        <td>Varre Anjani Durga</td>
    </tr>

    <tr>
        <th>Member 3</th>
        <td>Gubbala Bharath Sai</td>
    </tr>

    <tr>
        <th>Member 4</th>
        <td>Tagaram Karthik</td>
    </tr>

</table>

<br>

<p align="center">
<b>"Together We Build Smart Solutions for a Better Future."</b>
</p>

    <br>

    <a href="/dataset">
        <button>Go to Dataset Management</button>
    </a>

</div>

</body>
</html>